{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot passe
{% endblock %}

{% block body %}
	<h1>Modifier mon mot passe</h1>
	{% if app.flashes ('success') is defined %}
		{% for message in app.flashes ('success') %}
			<div class="alert alert-success alert-dismissible fade show " role="alert">
				<strong>
					{{ message }}
				</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
			</div>
		{% endfor %}

	{% elseif app.flashes ('danger') is defined %}
		{% for message in app.flashes ('danger') %}
			<div class="alert alert-warning alert-dismissible fade show " role="alert">
				<strong>
					{{ message }}
				</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
			</div>
		{% endfor %}
	{% endif %}

{{ form(form)}}

{% endblock %}
